/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
/* header */
header {
  background-color: #ffe91f;
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
  z-index: 3;
}
header h1,
header ul li {
  font-weight: 400;
}
header h1 {
  font-size: 34px;
}
@media screen and (min-width: 320px) {
  header h1 {
    font-size: 24px;
  }
}
header ul {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 320px) {
  header .menu-pc {
    display: none;
  }
  header .menu-mobile {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  header .menu-pc {
    display: flex;
  }
  header .menu-mobile {
    display: none;
  }
}
header ul li {
  margin: 0 20px;
  text-transform: uppercase;
}
header ul li a {
  color: black;
  transition: 0.15s ease-in-out;
  position: relative;
}
header ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: black;
  transition: 0.15s ease-in-out;
}
header ul li a:hover:after {
  width: 100%;
}
/* menu */
.menu-mobile {
  display: none;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 100;
  background-color: #ffe91f;
  transition: all 0.2s ease-in-out;
}
.menu li {
  margin-top: 40px;
}
.menu li a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: black;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 24px;
}
.menu .close-menu,
.menu .open-menu,
.fa-bars,
.fa-navicon {
  margin: 4px;
  font-size: 24px;
}
.close-menu {
  transform: translateY(40px);
}
#check:checked ~ .menu {
  right: 0;
}
#check {
  display: none;
}
/* chi siamo */
.chiSiamo {
  margin: 140px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 60px;
}
.chiSiamo h1 {
  font-size: 40px;
  color: #d6cb64;
}
.chiSiamo p {
  font-size: 20px;
  width: 80%;
}
/* footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.957);
  padding: 40px 0;
  text-align: center;
}
@media screen and (min-width: 320px) {
  footer {
    flex-direction: column;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  footer {
    flex-direction: row;
  }
}
footer .box {
  margin: 0 24px;
}
footer .box h3 {
  color: white;
  font-size: 34px;
  margin-bottom: 20px;
}
footer .box ul a {
  color: white;
}
footer .box ul a:hover {
  text-decoration: underline;
}
footer .box ul li {
  color: white;
  margin: 14px 0;
}
footer .box img {
  width: 100%;
  border-radius: 20%;
}
@media screen and (min-width: 320px) {
  footer .box img {
    width: 80%;
  }
}
.cop h4 {
  text-align: center;
  margin: 4px 0;
}
